// Font
$root-topic-font-family: Fraunces;
$root-topic-font-weight: 700;
$root-article-font-family: Montserrat;
$root-article-font-weight: 500;
$root-font-size: 14px;

// Color
$white: hsl(0, 0%, 100%);
$cream: hsl(30, 38%, 92%);
$dark-cyan: hsl(158, 36%, 37%);
$very-dark-blue: hsl(212, 21%, 14%);
$dark-grayish-blue: hsl(228, 12%, 48%);
$button-hover: rgb(30, 56, 44);

@mixin set-size($w, $h) {
  width: $w;
  height: $h;
}

@mixin set-background-image($source) {
  background-image: $source;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  margin: 0;
  padding: 0;
  font-size: $root-font-size;
  color: $dark-grayish-blue;
}

h1,
h2 {
  font-family: $root-topic-font-family;
  font-weight: $root-topic-font-weight;
}

p,
button,
span {
  font-family: $root-article-font-family;
  font-weight: $root-article-font-weight;
}

h1.product-name {
  font-size: clamp(1.8rem, 2.5vw, 2.28rem);
  line-height: clamp(1.8rem, 2.5vw, 2.28rem);
}

h2.product-price {
  font-size: clamp(1.8rem, 2.5vw, 2.3rem);
}

p.product-category {
  font-size: clamp(0.75rem, 1vw, 0.85rem);
}

body {
  @include set-size(100vw, 100vh);

  background: $cream;

  main.product-container {
    @include set-size(343px, 611px);

    background: $white;

    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    border-radius: 10px;

    display: grid;
    grid-template-rows: 240px 1fr;

    div.product-image {
      @include set-background-image(
        url(./sources/images/image-product-mobile.jpg)
      );

      border-radius: 10px 10px 0 0;
    }

    section.product-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: start;
      padding: 24px;

      p.product-category {
        text-transform: uppercase;
        letter-spacing: 5px;
        // font-size: 0.85rem;
      }

      h1.product-name {
        color: $very-dark-blue;
        // font-size: 2.28rem;
        line-height: 2.28rem;
      }

      p.product-detail {
        line-height: 1.7rem;
      }

      h2.product-price {
        color: $dark-cyan;
        // font-size: 2.3rem;

        display: flex;
        align-items: center;

        span.product-actual-price {
          text-decoration: line-through;
          margin-left: 18px;
          font-size: 0.9rem;
        }
      }

      button.add-to-cart {
        @include set-size(100%, 48px);
        background: $dark-cyan;
        outline: none;
        border: none;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;

        img.add-to-cart-icon {
          margin-right: 10px;
        }

        p.add-to-cart-content {
          color: $white;
          font-weight: 700;
        }
      }

      button.add-to-cart:hover,
      button.add-to-cart:active {
        background: $button-hover;
        cursor: pointer;
      }
    }
  }
}

@media (min-width: 1440px) {
  body {
    main.product-container {
      @include set-size(600px, 450px);

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;

      div.product-image {
        @include set-size(100%, 100%);
        @include set-background-image(
          url(./sources/images/image-product-desktop.jpg)
        );

        border-radius: 10px 0 0 10px;
      }

      section.product-info {
        padding: 32px;

        p.product-category {
          margin-bottom: -2px;
        }
      }
    }
  }
}
